body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app {
    position: relative;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
  }
  
  header {
    top: 0;
    height: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer {
    bottom: 0;
  }
  
  main {
    margin-top: 60px; /* Ajuster selon la hauteur du header */
    margin-bottom: 60px; /* Ajuster selon la hauteur du footer */
    padding: 20px;
  }
  