
.header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Ajustez selon la taille de votre logo */
    height: 50px; /* Ajustez selon la taille de votre logo */
    margin-right: 10px;
  }
  
  .header-right button {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  